<h1><%= @user.username %></h1>
<br>
<h2>Reviews</h2>
<section id='user-info'>
<% @user.reviews.each do |review| %>
<hr>
<br>
<img class="small-image" src=<%= review.book.cover_url %> alt=<%=review.book.title%>>
  <section id='review-<%= review.id %>'
  <ul>
    <li>Book Title: <%= review.book.title %></li>
    <li>Headline: <%= review.headline %></li>
    <li>Body: <%= review.body %></li>
    <li>Rating: <%= review.rating %></li>
    <li>Date Created:<%= review.book.created_at %></li>
  </ul>
  <%= link_to 'Delete Review', book_review_path(review.book.id, review, user_id: @user.id), method: :delete %>
</section>
  <br >
<% end %>
<br>
</section>
