<h1><%= @user.username %></h1>
<br>


<h3>Reviews</h3>
<section id='user-info'>
<% @user.reviews.each do |review| %>

<p><%= review.headline %></p>
<p><%= review.body %></p>
<p><%= review.rating %></p>
<p><%= review.book.title %></p>
<p><img class="small-image" src=<%= review.book.cover_url %> alt=<%=review.book.title%>></p>
<p><%= review.book.created_at %></p>

<% end %>

<br>
</section>
