<h1>All Books</h1>

<ul id="books">
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book), class:'book-title', id:'book-#{book.id}' %>
      <%= book.author %>
      <%= book.pages %>
      <%= book.year %>
      <%= book.cover_url %>
    </li>
  <% end %>
</ul>
