<h1>All Books</h1>
<hr>
<br >
<section id="best-books">
  <h2>The Best of the Best!</h2>
  <% @three_best.each do |book| %>
    <%= book.title %>
    <%= book.average_rating.to_f.round(2) %>
    <br>
  <% end %>
</section>
<br>

<section id="worst-books">
  <h2>The Worst of the Worst!</h2>
  <% @three_worst.each do |book| %>
    <%= book.title %>
    <%= book.average_rating.to_f.round(2) %>
    <br >
  <% end %>
</section>
<br>
<h2>Top Three Most Active Users</h2>
<section id="top-three-users">
  <% @three_top_users.each do |user| %>
    <%= user.username %>
    <br >
  <% end %>
</section>

<br>
<a class="button" href="/books/new">New Book</a>

<% if @books == [] %>
  <h2>No books!</h2>
<% else %>
  <% @books.each do |book| %>
    <section id="books">
      <p>Title: <%= link_to book.title, book_path(book), class:'book-title', id:'book-#{book.id}' %></p>

      <p>Author(s)</p>
      <% book.authors.each do |author| %>
      <section id="authors">
        <p>Author: <%= link_to author.name, author_path(author), class:'book-author', id:'author-#{author.id}' %></p>
      </section>
      <% end %>

      <p>Page Count: <%= book.pages %></p>
      <p>Published: <%= book.year %></p>
      <p><img src=<%= book.cover_url %> alt=<%=book.title%>></p>
    </section>
  <% end %>
<% end %>
