<h1>All Books</h1>
<hr>
<br>
<%= link_to "Sort Best to Worst Ratings", controller: "books", action: "index", filter: "rating_best_to_worst"%><br>
<%= link_to "Sort Worst to Best Ratings", controller: "books", action: "index", filter: "rating_worst_to_best"%><br>
<%= link_to "Sort Most to Least Pages",   controller: "books", action: "index", filter: "number_pages_most_to_least"%><br>
<%= link_to "Sort Least to Most Pages",   controller: "books", action: "index", filter: "number_pages_least_to_most"%><br>
<%= link_to "Sort Most to Least Reviews", controller: "books", action: "index", filter: "number_reviews_most_to_least"%><br>
<%= link_to "Sort Least to Most Reviews", controller: "books", action: "index", filter: "number_reviews_least_to_most"%><br>
<br>
<section id="best-books">
  <h2>The Best of the Best!</h2>
  <% @three_best.each do |book| %>
    <%= book.title %>
    <%= book.average_rating.to_f.round(2) %>
    <br>
  <% end %>
</section>
<br>

<section id="worst-books">
  <h2>The Worst of the Worst!</h2>
  <% @three_worst.each do |book| %>
    <%= book.title %>
    <%= book.average_rating.to_f.round(2) %>
    <br>
  <% end %>
</section>
<br>
<h2>Top Three Most Active Users</h2>
<section id="top-three-users">
  <% @three_top_users.each do |user| %>
    <%= user.username %>
    <br >
  <% end %>
</section>



<br>
<a class="button" href="/books/new">New Book</a>

<% if @books == [] %>
  <h2>No books!</h2>
<% else %>
<section id="books">
  <% @books.each do |book| %>
  <li>
    <p>Title: <%= link_to book.title, book_path(book), class:'book-title', id:'book-#{book.id}' %></p>
    <p>Author(s):
    <% book.authors.each do |author| %>
    <section id="authors">
      <%= link_to author.name, author_path(author), class:'book-author', id:'author-#{author.id}' %>
    </section>
    <% end %>
    <p>Average Rating: <%= book.average_rating.to_f.round(2) %></p>
    <p>Reviews: <%= book.total_reviews %></p>
    <p>Page Count: <%= book.pages %></p>
    <p>Published: <%= book.year %></p>
    <p><img src=<%= book.cover_url %> alt=<%=book.title%>></p>
  </li>
  <% end %>
</section>
<% end %>
