<h1>All Books</h1>


<a class="button" href="/books/new">New Book</a>

<% if @books == [] %>
  <h2>No books!</h2>
<% else %>
  <% @books.each do |book| %>
    <section id="books">
      <p>Title: <%= link_to book.title, book_path(book), class:'book-title', id:'book-#{book.id}' %></p>

      <p>Author(s)</p>
      <% book.authors.each do |author| %>
      <section id="authors">
        <p><%= author.name %></p>
      </section>
      <% end %>

      <p>Page Count: <%= book.pages %></p>
      <p>Published: <%= book.year %></p>
      <p><img src=<%= book.cover_url %> alt=<%=book.title%>></p>
    </section>
  <% end %>
<% end %>
