<h1><%= @book.title %></h1>
<ul>
  <li><%= @book.pages %></li>
  <li><%= @book.year %></li>
<li><img src=<%= @book.cover_url %> alt=@book.title></li>
</ul>

<%= link_to "<< Back to Books List", books_path %>
