<h1><%= @book.title %></h1>
<br>
<h3>Three Best Reviews</h3>

<section id='top-three-reviews'>
<% @three_best_reviews.each do |review| %>
  <%= review.headline %><br>
  <%= review.body %><br>
  <%= review.rating %>
  <br>
  <br>
<% end %>
<br>
</section>

<br>
<section id='bottom-three-reviews'>
<% @three_worst_reviews.each do |review| %>
  <%= review.headline %><br>
  <%= review.body %><br>
  <%= review.rating %>
  <br>
  <br>
<% end %>
<br>
</section>



<ul>
  <% @book.authors.each do |author| %>
    <p><%= author.name %>
  <% end %>
  <li><%= @book.pages %></li>
  <li><%= @book.year %></li>
  <p><img src= <%= @book.cover_url %> alt=<%= @book.title%> ></p>

  <% @book.reviews.each do |review| %>
    <p><%= review.headline %>
    <p><%= review.user.username %>
    <p><%= review.rating %>
    <p><%= review.body %>
  <% end %>


</ul>

<%= link_to "<< Back to Books List", books_path %>
